/*========General========*/
.goalCard {
    background-color: #dcebf4;
    margin: 8px;
    align-self: center;
    border-radius: 40px;
    padding: 16px;
    max-width: 400px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    align-items: center;
    padding-top: 4px;
}
.header {
    flex: 0 0 65%;
    font-weight: bold;
    font-family: var(--font-quicksand);
}
.view {
    flex: 0 0 20%;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}
/*======Goals======*/

.rec {
    background-color: #dcebf4;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 8px;
}
.goalText {
    flex: 0 0 80%;
}
.goalArrow {
    padding: 10px;
    flex: 0 0 20%;
}
.recContent {
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
}
.goalRecs {
    margin: 8px;
    align-self: center;
    border-radius: 40px;
    padding: 16px;
    max-width: 400px;
}
