.gridItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 24px;
}
.coins {
    display: flex;
    justify-content: end;
}
.shopItem {
    padding: 16px 24px;
}

.sameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.arrow {
    display: flex;
    justify-content: flex-start;
    height: 40px;
}
