.lightBlueOverride {
    padding: 6px 60px !important;
    min-width: max-content !important;
    box-sizing: border-box !important;
    margin: 0 !important;
    height: 62px;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 800 !important;
    line-height: 20px !important;

    border-radius: 12px;
    display: flex !important;
    flex-direction: row !important;
}

.slider {
    display: flex;
    flex-direction: row;
    gap: 12px; 
    margin-left: 0px; 
    flex-wrap: nowrap; 
    padding-left: 0px;
    margin-left: 0px;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    box-sizing: border-box;
}

