.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 32px;
    margin-bottom: 130px;
}
.header {
    margin-bottom: 60px;
}
.name {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-libre-franklin);
    flex: 0 0 55%;
    margin-top: 20px;
    margin-bottom: 8px;
}
.lightMode {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}
