.buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonOverview {
    margin: 5px;
}
.buttonOverview p {
    padding: 30px;
}

.buttonAddIncome {
    margin: 5px;
}
.buttonAddIncome p {
    padding: 11px;
}
.buttonAddExpenses {
    margin: 5px;
}
.buttonAddExpenses p {
    padding: 25.5px;
}
.buttonViewExpenses {
    margin: 5px;
}
.buttonViewExpenses p {
    padding: 20px;
}
