.interaction {
    max-width: 325.717px;
    max-height: 255.451px;
}

.shop {
    width: 130px;
    height: 121px;
}

.dressup {
    width: 263px;
    height: 206.264;
}

.goals {
    width: 137.707px;
    height: 108px;
}

.recommendationsgoals {
    width: 116.031px;
    height: 91px;
}




