.container {
    width: 100%;
}
.input {
    background-color: #d9ebd1;
    padding: 12px;
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
}
.input:focus {
    border: none;
    outline: none;
    background-color: #c6e1bb;
}
.title {
    font-family: var(--font-libre-franklin);
    font-size: 20px;
    padding: 4px 8px;
    margin-top: 12px;
}
.round {
    border-radius: 12px;
}
.larger {
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}
