.Page {
    width: 402px;
    height: 874px;
    background: var(--accent-white-accent-white-50, #ebfeeb);
}

.StartContainer {
    padding-bottom: 200px;
}

.SignInContainer {
    padding-top: 200px;
    padding-bottom: 30px;
}

.GetStartedButton {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.LogoSignUpContainer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.MainSectionText {
    width: 284px;
    height: 20.496px;
    flex-shrink: 0;
    color: var(--secondary-secondary-900, #090F19);
    font-family: "Quicksand";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.LogoText {   
    flex-shrink: 0;
    color: var(--secondary-secondary-900, #090F19);
    font-family: "Quicksand";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px; 
    text-align: center;
}

.SubText {
    color: var(--secondary-secondary-900, #090F19);
    font-family: "Quicksand";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}

.ParagraphText {
    width: 309px;
    color: var(--secondary-secondary-900, #090F19);
    text-align: center;
    font-family: "Libre Franklin";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
}

.SubheadingText {
    width: 309px;
    color: var(--secondary-secondary-900, #090F19);
    text-align: left;
    font-style: normal;
    line-height: 20px; 
    font-size: 16px;
    font-weight: 600;
    flex: 0 0 65%;
    font-family: "Quicksand";
    padding-left: 64px;
    margin-bottom: 5px;
}

.PasswordTextButton {
    color: var(--secondary-secondary-200, #939AA5);
    font-family: "Libre Franklin";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-align: right;
    margin-right: 64px;
}

.AccountTextButton {
    color: var(--secondary-secondary-200, #939AA5);
    font-family: "Libre Franklin";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.LoginContainer {
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.SignUpContainer {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.Video {
    width: 242.206px;
    height: 495px;
    flex-shrink: 0;
    aspect-ratio: 242.21/495.00;
    border-radius: 42px;
}
