.button {
    border-radius: 12px;
    font-size: 16px;
    margin: 8px;
    padding: 8px;
    width: 100%;
    font-family: var(--font-quicksand);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary {
    background-color: #9ccb89;
    color: #626c7c;
}
.primary {
    background-color: #83be6c;
    color: #090f19;
}
.close {
    background-color: #4b5961;
    color: #fefdfd;
}
.round {
    border-radius: 20px;
}

.lightBlue {
    background-color: #b2d4e6;
    color: #090f19;
}
.darkBlue {
    color: #e8e9ec;
    background-color: #445063;
    padding: 16px;
}

.view {
    color: #090f19;
    background-color: #acd39d;
}

.outline {
    color: #4b5961;
    border: 2px solid #4b5961;
}
.dark {
    color: #fefdfd;
    background-color: #48693b;
}
.light {
    color: #fefdfd;
    background-color: #83be6c;
}
.shop {
    background-color: #9ccb89;
    color: #f3f9f0;
}
/*====nav styles====*/
.nav {
    color: #37502d;
    font-family: var(--font-quicksand);
    font-size: 12px;
    font-weight: 600;
}
.expense {
    color: #090f19;
    background-color: #c1ddeb;
    font-size: 24px;
    padding: 10px;
}
.home {
    padding-top: 20px;
    max-width: 48px;
}
.caption {
    padding: 6px;
    font-size: 12px;
}
.navActive {
    color: #b2d4e6;
}
.cow {
    background-color: #c6e1bb;
    border-radius: 100%;
    max-width: 64px;
}
.cowActive {
    background-color: #77ad62;
    border-radius: 100%;
    max-width: 64px;
}

/*=========Toggle Button========*/
.toggleContainer {
    display: flex;
    border-radius: 25px;
    width: 100%;
    background-color: #bcc7bc;
    border: 1px solid #ccc;
    font-size: 28px;
    font-family: var(--font-quicksand);
    font-weight: bold;
}

.hiddenCheckbox {
    display: none;
}

.monthlyLabel,
.weeklyLabel {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    width: 50%;
}

.monthlyLabel {
    background-color: #37502d;
    color: #fefdfd;
    border-radius: 25px;
}

.weeklyLabel {
    background-color: #bcc7bc;
    color: #fefdfd;
    border-radius: 25px;
}

.hiddenCheckbox:checked ~ .monthlyLabel {
    background-color: #bcc7bc;
    color: #fefdfd;
    border-radius: 25px;
}

.hiddenCheckbox:checked ~ .weeklyLabel {
    background-color: #37502d;
    color: #fefdfd;
    border-radius: 25px;
}
/*========Slider Styles========*/
.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
    font-family: var(--font-quicksand);
    font-size: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c6e1bb;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: #e8e9ec;
    transition: 0.4s;
    border-radius: 50%;
}

/* Text for "Off" state */
.slider:after {
    content: "Off";
    color: #090f19;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* When the slider is on */
input:checked + .slider {
    background-color: #77ad62;
}

input:checked + .slider:before {
    transform: translateX(50px);
}

/* Text for "On" state */
input:checked + .slider:after {
    content: "On";
    right: auto;
    left: 10px;
}