.expense_overview_header {
    color: var(--secondary-secondary-900, #090f19);
    font-family: Quicksand;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    margin: 0;
    padding: 0 20px;
}
.activity {
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    margin-top: 50px;
}

.transactionContainer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.transactionIncome p {
    padding: 35px;
}
.transactionExpenses p {
    padding: 35px;
}
.buttonContainer {
    padding: 20px;
    display: grid;
    margin-top: 30px;

    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #445063;
    margin-right: 15px;
}
.buttonIncome p {
    padding: 5px;
}

.buttonHistory p {
    padding: 5px;
}

.buttonCalendar p {
    padding: 5px;
}
.transactionDate {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    color: white;
}
.bottom {
    background-color: #445063;
    padding-bottom: 400px;
}

.transactionDate p {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}
