.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 6px;
}
.buttonIncome p {
    padding: 5px;
}

.buttonHistory p {
    padding: 5px;
}

.buttonCalendar p {
    padding: 5px;
}
