.transactionContainer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;

    gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.transactionIncome p {
    padding: 35px;
}
.transactionExpenses p {
    padding: 35px;
}
.buttonContainer {
    padding-top: 40px;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #445063;
    border-radius: 40px;
}
.buttonIncome p {
    padding: 5px;
}

.buttonHistory p {
    padding: 5px;
}

.buttonCalendar p {
    padding: 5px;
}
.transactionDate {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    color: white;
}
.bottom {
    background-color: #445063;
    padding-bottom: 150px;
}
