.container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
}

.sameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    position: relative;
    z-index: 1; /* Ensure it stays above the background */
}

.coins {
    display: flex;
    justify-content: end;
}

.background {
    width: 100vw;
    z-index: 0;
    display: flex;
    justify-content: center;
    height: 85vh;
    
}

.sliderContainer {
    position: absolute;
    bottom: 160px; /* Space from the bottom */
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10; /* Ensure it stays above the background */
    margin-left: 10px;
}