.dropdown_button {
    color: #626c7c;
    padding: 10px;
    border: none;
    background-color: #cbe2ee;
    border-radius: 10px 10px 0 0;
    width: 370px;
    height: 52px;
    z-index: 1;
    box-shadow: 3px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    position: absolute;
    background-color: #cbe2ee;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 0 0 10px 10px;
    width: 370px;
}

.dropdown_item {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}
