.input {
    background-color: #d9ebd1;
    padding: 12px;
    border-radius: 30px;
    width: 100%;
    font-size: 16px;
    padding-left: 20px;
}
.title {
    font-family: var(--font-libre-franklin);
    font-size: 20px;
    padding: 4px 8px;
}
.round {
    border-radius: 30px;
