.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    size: 1000px;
}

.input fieldset {
    border: 1px solid var(--color-border);
    padding: 0.5rem;
    border-radius: 0.25rem;
}